<div class="container">
  <div class="item">
    <h2>Prices with Signals</h2>

    <table>
      <tr>
        <th>ProductId</th>
        <th>Avg Price</th>
        <th>Trend</th>
      </tr>
      @for(record of filtered(); track record.productId) {
      <tr>
        <td>{{ record.productId }}</td>
        <td>{{ record.avgPrice | number : ".2-2" }}</td>
        <td>{{ record.trend }}</td>
      </tr>
      }
    </table>
  </div>
  <div class="item">
    <h2>Prices with RxJS</h2>

    <table>
      <tr>
        <th>ProductId</th>
        <th>Avg Price</th>
        <th>Trend</th>
      </tr>
      @for(record of filtered$ | async; track record.productId) {
      <tr>
        <td>{{ record.productId }}</td>
        <td>{{ record.avgPrice | number : ".2-2" }}</td>
        <td>{{ record.trend }}</td>
      </tr>
      }
    </table>
  </div>
</div>
